body{
    font-family: JetBrains Mono;
    margin: 0;
}
#navbar{
    background-color: #ffd502;
}
#contact{
    background-color: #ffd502;
    color: black;
}

.cartao-pedido {
    background-color: #FFC107;
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
}
.corpo-cartao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF3CD;
    color: #000;
    border-radius: 5px;
    padding: 10px;
}
.btn-orcamento{
    background-color: black;
    font-family: JetBrains Mono;
    color: white;
}